header {
    height: 50px;
    display: flex;
    align-items: center;
}

footer{
    height: 50px;
    
}

h1 {
    font-size: 300%;
    color: rgba(255, 255, 255, 0.63);
    text-align: center;
    margin-bottom: 0;
}

h2{
    font-size: 200%;
    text-align: center;  
    
}

body {
    margin: 0px;
}

.resize{
    width: 200px;
    height: auto;
}

.right{
    float: right;
}

.left{
    float: left;
}

.container{
    width: auto;
    margin: 0 auto;
    background-color: rgb(21, 117, 21);
}

.row{
    display: flex;
}

.col{
    width: 100%;
    padding: 10px; 
}

.w-100{
    width: 100%;
}

.w-75{
    width: 75%;
}

.w-66{
    width: 66.666%;
}

.w-50{
    width: 50%;
}

.w-33{
    width: 33.333%;
}

.w-25{
    width: 25%;
}

/*
used for classes with flex
*/
.flex{
    display: flex;
}

.justify-content-end{
    justify-content: end;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.hero{
    background-color: #5f6368;
    padding: 100px 0;
}

.text-center{
    text-align: center;
}

.align-items-center{
    align-items: center;
}
