h3{
    font-size: 100%;
    color: rgba(255, 255, 255, 0.63);
}

.font{
    font-family: 'Exo 2', sans-serif;
}

body{
    background-color: rgba(46, 97, 30, 0.63);
    font-family: 'Exo 2', sans-serif;    
    margin: 0px;
}

.resize{
    width: 200px;
    height: auto;

}

.grid-c {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 25px;
  }
  
  .grid-i {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  .grid-i img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;

    
  }
  
  .grid-i h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .grid-i p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
  }


  .title{
    text-align: center;
    font-size: 120%; 

}

.title p{
    padding-top: 10px;
    margin: .5em;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.6em;
    color: rgb(74, 111, 74);

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 400%;
    text-align: center;
    padding: 10px;
  }

  .grid-item img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
  }

  .grid-item h3{
    color:rgba(25, 73, 12, 0.705);
  }

  .even-column .grid-item:nth-child(even),
  .odd-column .grid-item:nth-child(odd) {
    order: -1;
  }

.containerLocal{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(46, 97, 30, 0.63);
}

.containerLocal img{
    border-radius: 20px;
}

.row{
    display: flex;
    width: auto;
}

.col{
    width: 100%;
    padding: 10px;  
}