
body{
    font-family: 'Exo 2', sans-serif;
    background-color: rgba(49, 115, 29, 0.663);
  

}
  
h4 {
    margin: 0;
    font-size: 1.4em;

}
  
.optionscontainer {
    display: flex;
    justify-content: space-between;
}
  
.option {
    width: auto;
    margin: 10px;
    text-align: center;
    border: rgba(74, 111, 74, 0.504) solid 2px;
    padding: 5px;

}

.title{
    text-align: center;
    font-size: 120%; 


}
.title p{
    padding-top: 10px;
    margin: .5em;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.6em;
    color: rgb(74, 111, 74);

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 25px;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;

    
  }
  
  .grid-item h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .grid-item p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
  }
  




  

  
  
  